
@{
    ViewBag.Title = "ReportsIndex";
}

<h2>Reports</h2>
<li>@Html.ActionLink("Inventory Report", "InventoryReport", "Admin")</li>
<li>@Html.ActionLink("Sales Report", "SalesReport", "Admin")</li>

