@model GuildCars.Models.UIViews.SalesReportView

@{
    ViewBag.Title = "SalesReport";
}

<h2>Sales Report</h2>
<div style="border: 2px solid black; padding:5px">
    
    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("SalesReport", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "search" }))
            {
                @Html.ValidationSummary()

                <h3>Filters</h3>
                <div class="form-group col-lg-3">
                    <label>User</label>
                    @Html.DropDownListFor(m => m.Users, Model.Users, "--All--", new { @class = "form-control", id = "userId" })
                    <br />
                    <button type="submit" class="btn btn-default" value="Search">Search</button>
                </div>

                <div class="form-group col-lg-3">
                    <label>From Date</label>
                    <input type="text" class="form-control" id="fromDate" placeholder="Enter Date">
                </div>

                <div class="form-group col-lg-3">
                    <label>To Date</label>
                    <input type="text" class="form-control" id="toDate" placeholder="Enter Date">
                </div>

                
            }
        </div>
    </div>
    </div>
    <div class="row">
        <h3>Search Results</h3>
        <div class="col-xs-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Total Sales</th>
                        <th>Total Vehicles</th>
                    </tr>
                </thead>
                <tbody id="searchResults">
                </tbody>
            </table>

        </div>
    </div>

    @section scripts
 {
        <script>
            $(document).ready(function () {
                $("#search").submit(function (e) {
                    e.preventDefault();
                    search();
                    return false;
                });

                function search() {
                    var params;
                    params = '&userId=' + $('#userId').val() + '&fromDate=' + $('#fromDate').val() + '&toDate=' + $('#toDate').val();
                    $.ajax({
                        type: 'GET',
                        url: 'https://localhost:44363/api/userSales/search?' + params,
                        success: function (results) {
                            $('#searchResults').empty();

                            $.each(results, function (index, userSales) {

                                var html = '<tr>' + '<td>' + isEmpty(userSales.FirstName) + ' ' + isEmpty(userSales.LastName) + '</td>' +
                                    '<td>' + '$' + numberWithCommas(userSales.TotalSales) + '</td>' +
                                    '<td>' + numberWithCommas(userSales.TotalVehicles) + '</td>' + '<tr>';

                                $('#searchResults').append(html.toString());
                            });
                        },

                        error: function () {
                            alert('Error performing search, try again later!')
                        }
                    });
                    function numberWithCommas(x) {
                        if (x === undefined || x == null || x.length === 0) {
                            return 'No Info Available';
                        }
                        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    }
                    function isEmpty(x) {
                        if (x === undefined || x == null || x.length === 0) {
                            return 'No Info Available';
                        }
                        return x;
                    };

                }
            });
        </script>
    }

